/*sidebar*/
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1221; 
  top: 0;
  left: 0;
  background: #415761;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 15px 6px 6px 6px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#openbtn {
  position: fixed !important;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(186, 200, 202, .7);
  color: white;
  padding: 5px 12px;
  border-radius: 15px;
  border: none;
  z-index: 1222;
}

#openbtn:hover {
  background-color: rgba(167, 140, 115, .8);
}

.bg-wrap {
  width: 280px;
  height: 230px;
  position: relative;
  z-index: 0; 
  background-image: url(../images/andrew-ridley.jpg);
  background-size: cover;
  }

.bg-wrap:after {
  opacity: 1;
  z-index: -1;
  position: absolute;
  top: 5;
  content: '';
}

.bg-wrap .user-logo .img-fluid {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 28%;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-image: url(../images/logo.jpg);
  background-size: cover;
}
.bg-wrap .user-logo h3 {
  color: #fff;
  font-size: 18px; 
  position: absolute;
  bottom: 10%;
  left: 20%;
  padding: 7% auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 200px;
}

/*HEADER*/

 #firstCont {
  background-color: #bac8ca;
  font-family: 'Pacifico', cursive !important;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1111;
  max-width: 100vw;
 }

 #firstCont-img {
  background-image: url(../images/alexandra-lammerink.jpg);
  height: 100vh;
  background-position: center;
  background-size: 100vh;
  background-repeat: no-repeat;
  position: relative;
 }
 
 #hello{
  color: white;
  text-shadow: 1px 1px #334c4f;
  background-color: rgba(98, 129, 142, .8);
  padding: 10%;
  letter-spacing: 3px;
  border: 7px solid #a78c73;
  text-align: center;
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

#hello:hover {
  color: #334c4f;
  text-shadow: 1px 1px #ffffff;
}

#navabout {
  font-family: 'Montserrat', sans-serif;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: -25%;
  white-space: nowrap;
  color: #334c4f !important;
  z-index: 9999;
}

#navcontact {
  font-family: 'Montserrat', sans-serif;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  right: -25%;
  white-space: nowrap;
  color: #334c4f !important;
  z-index: 9999;
}

#firstCont-img h5:hover {
  font-size: 22px;
  font-stretch: semi-expanded;
}

/*CONTENT*/
html {
  scroll-behavior: smooth;
}

.container-fluid h2 {font-family: 'Pacifico', cursive;}

#main {
  transition: margin-left .5s;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 100%;
  z-index: 1111;
  overflow: hidden;
}

#about {
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(../images/full-bloom.png);
  padding: 20px;
}

.abth2 {
  color: #36524d;
  padding-top: 5px;
  padding-bottom: 20px;
}

.skills {
  background-image: url("../images/bg-cream.png");
  background-size: cover;
  background-position: top;
}

.carousel-item img {
  border-radius: 20px;
}

#projects {
  color: white;
  height: 100%;
  padding: 40px;
  z-index: 0 !important;
}

.card-link {
  color: #36524d !important;
  border-color: #36524d !important;
  font-size: 15px !important;
}

.card-link:hover {
  color: #a78c73 !important;
}

.card-body {
  color: #36524d;
  text-align: center;
}

#contact {
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../images/elsa-noblet.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 50px;
  height: 80%;
}

#contact .nav-link {
  overflow: hidden;
  color: #415761 !important;
  overflow-wrap: all;
  float: left;
}

.cv {
  color: #36524d; 
  font-size: 13px;
}

.cv:hover {
  color: white;
}


/*MEDIA*/

@media screen and (max-height: 568px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  #hello {font-size: 300% !important;}
}

@media screen and (max-width: 812px) {
  #contact .nav-link {font-size: 13px;}
}

@media screen and (max-width: 568px) {
  #contact .nav-link {font-size: 10px;}
}
